
@font-face{
    font-family: "Terminal";
    src: url("./../fonts/Dejavu.ttf");
  }
.terminal-font{
    font-family: "Terminal"
}
.holder{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.sidenav{
    padding: 1em;
    
}
.content{
    background-color: white
}
.side-button{
    padding: 0.5em
}